*{
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    background: #e6e6e6;
}

h1{
    color: #4e4e4e;
    font-size: 2.5em;
}

h2 {
    color: #f7b600;
}

h3 {
    color: #565656;
    background: #CCC;
    padding: 5px;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

a:link,  a:visited {
    color: #f7b600;
}

a:hover {
    text-decoration: underline;
}

#area-cabecalho a:link, #area-cabecalho a:visited {
    color: #fff;
    padding: 8px 12px;
}

#area-cabecalho a:hover {
    color: #f7b600;
    background: #fff;
    text-decoration: none;
}

#area-principal {
    background: #fff;
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#postagens {
    width: 660px;
    float: left;
}

#area-lateral {
    width: 240px;
    float: right;
}

#rodape {
    clear: both;
    text-align: center;
    background: #CCC;
    padding: 15px;
}

#area-cabecalho {
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

#area-logo, #area-menu {
    padding: 10px;
}

.post {
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

.data-postagem {
    font-size: 0.8em;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

.white {
    color: #FFF;
}

.conteudo-lateral {
    background: white;
    padding: 10px;
    margin: 20px;
}

.postagem-lateral {
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px dotted #CCC;
}