/* CONFIGURAÇÕES PADÃO
***************************/

body, html {
    margin: 0;
    font: 16px "Lato", sans-serif;
    color: #777;
    height: 100%;
}

.conteudo {
    color: #777;
    background-color: white;
    text-align: justify;
    padding: 50px 80px;
}

h3 {
    text-transform: uppercase;
    color: #111;
    text-align: center;
}

p{
    margin-bottom: 20px;
}

/*  EFEITO PARALLAX
**********************************/

.caixa1, .caixa2, .caixa3, .caixa4, .caixa5 {
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.caixa1 {
    background-image: url(imagens/imagem1.jpg) ;
}

.caixa2 {
    background-image: url(imagens/imagem2.jpg);
}

.caixa3 {
    background-image: url(imagens/imagem3.jpg);
}

.caixa4 {
    background-image: url(imagens/imagem4.jpg);
}

.caixa5 {
    background-image: url(imagens/imagem5.jpg);
}

.conteudo-titulo {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    padding: 18px;
    color: #fff;
    text-align: center;
    font-size: 25px;
    letter-spacing: 5px;
}

.conteudo-titulo span.titulo {
    padding: 18px;
    color: #fff;
    background-color: #111;
    font-size: 25px;
    letter-spacing: 5px;
}