* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #4000ff;
    font-family: 'DM Sans', Helvetica, sans-serif;
  }
  
  h1 {
    color: #fff;
    margin-bottom: 20px;
  }
  
  .keys {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .key {
    width: 80px;
    height: 80px;
    border: 2px solid #ffffff;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    background-color: #13111b;
    border-radius: 0.8rem;
    transition: border-radius 0.1s;
  }
  .key.active {
    border: 2px solid #78d1e1;
    color: #78d1e1;
    border-radius: 1rem;
  }
  
  .composer {
    width: 260px;
    margin-top: 20px;
  }
  .composer #input {
    width: 100%;
    outline: none;
    font-size: 17px;
    padding: 10px 15px;
    border-radius: 0.5rem;
    font-family: 'DM Sans', Helvetica, sans-serif;
  }
  .composer button {
    width: 100%;
    height: 40px;
    background: none;
    border: 2px solid #988aa8;
    color: #988aa8;
    font-size: 1rem;
    font-family: 'DM Sans', Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    background-color: #13111b;
    border-radius: 0.5rem;
    transition: color 0.5s, border 0.5s, border-radius 0.5s;
  }
  .composer button:hover {
    color: #c369c6;
    border: 2px solid #c369c6;
    border-radius: 1rem;
  }
  
  /* .color {
    color: #78d1e1;
  }
   */