
.calculadora {
margin-top: 40px;
border: solid 1px rgb(255, 255, 255);
padding: 20px;
background-color: #ffffff;
border-radius: 10px;
box-shadow: 1px 1px 5px #000;
}

.btn {
width: 60px;
height: 50px;
margin: 5px;
text-align: center;
font-size: 25px;

box-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.clear {
width: 130px;
}

.enter {
height: 110px;
}

.zero {
width: 130px;
}

.resultado {
text-align: right;
font-size: 20px;
margin-top: 10px;
margin-bottom: 20px;
border: solid 1px #000;
box-shadow: 1px 1px 1px #000;
}